
{% extends 'homebase.html' %}
{% block title %} index{% endblock %}
{% block css_files %}  {% endblock %}
{% load static %}
{%block content%}
  <div class="container-fluid bg-light pt-3 d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <p><i class="fa fa-envelope mr-2"></i>dilaraaksoy@hotmail.com</p>
                        <p class="text-body px-3">|</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>0850 633 3 633</p>
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a href="https://tr-tr.facebook.com/"class="text-primary px-3" href="">
                            <i  class="fab fa-facebook-f"></i>
                        </a>

                        <a  href= "https://twitter.com/dilaraaksoy08"class="text-primary px-3" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href= " https://tr.linkedin.com/"class="text-primary px-3" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="https://www.instagram.com/dilara.akksoy/"class="text-primary px-3" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.youtube.com/results?search_query=holiday"class="text-primary pl-3" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

<div class="container">  
    <h1 class="page-title">Hakkımızda</h1>
    <div class="bread-crumb"> <ul> <li><a href="/">GEZGIN</a></li> <li><a href="#">Hakkımızda</a></li> </ul> </div>
    <div class="row about-us">
        <div class="col-md-24"> 
            <div class="col-md-12 nopad-left"> <img src="{% static 'assets/img/icon.jpg.jpg' %}"> </div>
            <div class="col-md-12 nopad-right"> <p class="no-padding-top"> <b>GEZGIN.COM</b>, 3073 TÜRSAB belge numarası ile faaliyet gösteren GEZGIN SEYAHAT ACENTELİĞİ VE TURİZM ANONİM ŞİRKETİ markasıdır. 1997 yılından itibaren Türk turizminde birçok ilke imza atan <b>GEZGIN.COM</b> 25 yıldan fazla turizm tecrübesiyle misafirlerine hizmet vermektedir. 
                <b>GEZGIN.COM</b>, "Daha fazla tatil" sloganıyla misafirlerine beklentilerinden daha fazlasını sunup, misafirlerinde daha fazla memnuniyet yaratmayı hedeflemektedir. </p>
                <p class="no-padding-top"> <b>GEZGIN.COM</b>, sektörün önde gelen oyuncularından biri haline gelmesi ile birlikte, 2015 yılında <b>İş Bankası</b> grubunun sermaye fonu şirketi olan <b>İş Girişim Sermayesi</b>'nden yatırım alarak ortaklığa imza atmıştır. <b>İş Girişim Sermayesi</b>, turizm sektörünün büyüyen oyuncusu olan <b>GEZGIN.COM</b>'daki yatırımını 2020 yılında büyütmüş ve hisse miktarını artırmıştır
                    <b>İş Girişim Sermayesi</b>'nin ortak olmasıyla mali olarak gücüne güç katan <b>GEZGIN.COM</b> turizm sektöründe liderliği hedeflemektedir. </p>
                <p class="no-padding-top"> Yıllık 50 milyona ulaşan ziyaret sayısıyla <b>GEZGIN.COM</b> web sitesi Türkiye turizminin en çok ziyaret edilen web sitelerinden birisidir. 
                   <b>GEZGIN.COM</b>, Türkiye çapına yayılmış beş yüzden fazla acenteyi bulan fiziki satış ağıyla da sektörün en gelişmiş oyuncularından biridir. </p> 
                <h4>MİSYONUMUZ</h4> <p> <b>GEZGIN.COM</b> misafirlerine rezervasyon öncesinde, sonrasında ve tüm konaklama süresince beklentilerinin üstünde hizmet vererek 100% misafir memnuniyetini sağlamayı misyon edinmiştir. </p> </div> </div>
        <div class="col-md-24"> <div class="col-md-24 nopad-left"> 
            <h4>VİZYONUMUZ</h4> <p> <b>GEZGIN.COM</b> çalışanlarının %100 memnuniyetini sağlamayı hedef olarak belirlemiştir. Teknoloji ve pazarlama ekipleri, haftanın yedi günü çalışan çağrı merkezi, satış ofisleri ve tüm operasyonel birimleri ile "daha mutlu" bir çalışma ortamını oluşturmuş ve bunun sonucu olarak misafirlerine daha fazla hizmet götürmeyi ve misafirlerini daha fazla mutlu etmeyi amaç edinmiştir. </p> 
            <h4>TARİHÇE ve ÖDÜLLER</h4> <ul class=""> <li>1997 - Mikatur markasının kuruluşu</li> <li>2015 – <b>İŞ GİRİŞİM</b> yatırımı 2015 – TC Sanayi ve Teknoloji Bakanlığı - Tüketici Memnuniyetini İlke Edinen Firma</li> <li>2017 – The One Awards – Turizm ve Seyahat Kategorisi Yılın En İtibarlısı</li> <li>2018 – The Mixx Awards – Sosyal Medya Pazarlaması Gümüş Mixx</li> <li>2018 – Google Premium Partnership</li> <li>2019 – Türk Basketbol Milli Takımları Ana Sponsorluğu</li> <li>2019 – The One Awards – Turizm ve Seyahat Kategorisi Yılın En İtibarlısı</li> <li>2020 – <b>İŞ GİRİŞİM</b> hisse artırımı</li> </ul> </div> 
            <div class="col-md-24 nopad-right"> <h4>ÜRÜN YELPAZEMİZ</h4> <ul class=""> <li>Yaz otelleri ve tatil köyleri</li> <li>Şehir Otelleri</li> <li>Termal Oteller</li> <li>Yurt dışı Turlar</li> <li>Cruise Seyahatleri</li> <li>Kıbrıs paketleri</li> <li>Butik Oteller</li> <li>Uçak Bileti ve Ulaşım Hizmetleri</li> <li>Kültür Turları</li> <li>Mavi Yolculuk</li> <li>Kayak Otelleri</li>  </ul> <h4>ŞİRKET BİLGİLERİ</h4> 
                <p> Şirket Ünvanı: GEZGIN Seyahat Acenteliği ve Tur. A.Ş.<br>  Mersis No: 0621046167700011<br> Genel Müdürlük Adres ve Telefon: 1.ring yolu Sakarya/Turkiye 0850 633 3 633<br>  Yönetim Kurulu Başkanı: Nazli Dilara AKSOY<br> </p>
</div> </div> </div> </div>


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="" class="navbar-brand">
                    <h1 class="text-primary"><span class="text-white">GEZGIN</span>LER</h1>
                </a>
                <p>30 yillik tecrubenin verdigi guvenle...</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Bizi takip edin</h6>
                <div class="d-flex justify-content-start">
                    <a href="https://twitter.com/dilaraaksoy08 "class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a href="https://tr-tr.facebook.com/ "class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/dilara.akksoy/ " class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Servislerimiz</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Hakkinda</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Hedefler</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Services</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Packages</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>SIKÇA SORULAN SORULAR</a>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Usefull Links</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Hakkinda</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Hedefler</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Services</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Packages</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Guides</a>
                    <a class="text-white-50" href="#"><i class="fa fa-angle-right mr-2"></i>Blog</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Iletisim icin</h5>
                <p><i class="fa fa-map-marker-alt mr-2"></i>1.ring yolu, Sakarya,TURKIYE</p>
                <p><i class="fa fa-phone-alt mr-2"></i>224 345 67890</p>
                <p><i class="fa fa-envelope mr-2"></i>dilaraaksoy@hotmail.com</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Newsletter</h6>
                <div class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control border-light" style="padding: 25px;" placeholder="Your Email">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-3">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white-50">Copyright &copy; <a href="#">Dilara All Rights Reserved.</a>
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <p class="m-0 text-white-50">Designed by <a href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

{% endblock %}
</body>
</html>