{% extends 'homebase.html' %}
{% load static %}
{% block css_files %} {% endblock %}

{% block js_files %}  {% endblock  %}
<title>{% block page_title %}Giriş{% endblock  %}</title>



{% block content %}
{% load static %}
<!--navbar-->

<nav class="navbar navbar-expand-lg navbar-light shadow">
     <div class="container d-flex justify-content-between align-items-center">

         <a class="navbar-brand text-success logo h1 align-self-center" href="{% url 'home' %}">
             Login Page
         </a>

         <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>
         {% if request.user.is_authenticated %}
         <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
             <div class="flex-fill">

             </div>
             <div class="navbar align-self-center d-flex">
                 <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                     <div class="input-group">
                         <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                         <div class="input-group-text">
                             <i class="fa fa-fw fa-search"></i>
                         </div>
                     </div>
                 </div>


               {% endif %}



             </div>
         </div>

     </div>
 </nav>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'assets/img/vector-illustration-isolated-white-background-login-button-icon-126999949.jpg' %}" alt="IMG">
				</div>

				<form  method="POST" novalidate>
					{% csrf_token %}



					{% for error in form.non_field_errors %}
					    <div class="alert alert-danger">
						   {{ error }}
					    </div>
					{% endfor %}

					{% for field in form %}

					    <div class="mb-3 {% if field.errors %} invalid {% endif %}"><br>
						   {% if field.errors %}
							  <div class="alert alert-danger pb-0">
								 {{ field.errors }}
							  </div>
						   {% endif %}
						   <label  for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label><br>
						   {{ field }}
					    </div>

					{% endfor %}
					<a href="{% url 'register' %}"><strong>Do you need an account?</strong></a><br>
					<a href="{% url 'register' %}"><strong>Forgot Password?</strong></a><br>



					<input type="submit" value="Login" class="btn btn-primary">
				 </form>

			</div>
		</div>
	</div>
	{% endblock  %}



	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>